@model IEnumerable<MercDevs_ej2.Models.Descripcionservicio>

@{
    ViewData["Title"] = "Descripciones del Servicio";
}

<h1>Descripciones del Servicio</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var descripcion in Model)
        {
            <tr>
                <td>@descripcion.Nombre</td>
                
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Servicios" asp-action="Index">Volver a la lista de servicios</a>
